[submodule "themes/airspace"]
	path = themes/airspace
	url = git@github.com:themefisher/airspace-hugo.git
[submodule "themes/hyde-y"]
	path = themes/hyde-y
	url = git@github.com:enten/hyde-y.git
[submodule "themes/meduimish"]
	path = themes/meduimish
	url = git@github.com:lgaida/mediumish-gohugo-theme.git
[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
